#cab_inicio {
    background-color: aqua;
}
#video_inicio {
    background-color: black;
}
#imagenes_1 {
    background-color: crimson;
}
#empleados {
    background-color: deeppink;
}
#footer_inicio {
    background-color: blueviolet;
}
#footer_inicio2 {
    background-color:darkorange;
}
#cab_productos {
    background-color: blue;
}
#intro_menu {
    background-color: darkgreen;
}
#menu1 {
    background-color: brown;
}
#menu2 {
    background-color: grey;
}
#menu3 {
    background-color: darkorchid;
}
#modulo1 {
    height: 80px;
}

#modulo2 {
    height: 500px;
}

#modulo3 {
    height: 200px;
}

#modulo4 {
    height: 300px;
}
#modulo5 {
    height: 80px;
}
#modulo6 {
    height: 80px;
} 
#moduloa {
    height: 80px;
}
#modulob{
    height: 60px;
}
#moduloc{
    height: 300px;
}
#modulod{
    height: 300px;
}
#moduloe{
    height: 300px;
}

#logo {
    background-color: gray;
}
#botonera {
    background-color: brown;
}
#video {
    background-color: chartreuse;
}
#imagen1 {
    background-color: chocolate;
}
#imagen2 {
    background-color: salmon;
}
#imagen3 {
    background-color: darkgreen;
}
#imagen4 {
    background-color: seagreen;
}
#imagen5 {
    background-color: purple;
}
#imagen6 {
    background-color: green;
}

#botonera_footer {
    background-color: fuchsia;
}
#botonera_footer2 {
background-color: darkturquoise;
}
#redes_footer {
    background-color: gold;
}

#titulo_menu {
    background-color: darkmagenta;
}
#imagen_menu {
    background-color: darkcyan;
}
#desayuno {
background-color: crimson;
}
#desayuno_imagen {
    background-color: darkred;
}
#almuerzo {
    background-color: darkorange;
}
#almuerzo_imagen {
    background-color: blueviolet;
}
#bebida {
    background-color: black;
}
#bebida_imagen {
    background-color: aqua;
}
